{% extends 'base.html' %}

{% block content %}
{{ super() }}

{% for cat,msg in get_flashed_messages(True) %}
<div class="flash {{cat}}">{{ msg }}</div>
{% endfor %}

<form action="{{post.id}}" method="post" class="form-contact">
<p><label>Имя:</label><input type="text" name="petname" value="{{post.name}}"  required/></p>
<p><label>Возраст:</label><input type="text" name="old" value="{{post.old}}" required/></p>
<p><input type="checkbox" name="ifHome" {{post.home}}>Питомец ищет дом</p>
<p><input type="submit" value="Сохранить"></p>
</form>
<hr>
<form action="{{post.del_id}}" method="post" class="form-contact"><input type="submit" value="Удалить питомца"></form>


{% endblock %}