 {% extends 'base.html' %}

{% block content %}
{{ super() }}
{% for cat, msg in get_flashed_messages(True) %}
<div class="flash {{cat}}">{{msg}}</div>
{% endfor %}
<table border="0" class="profile-table">
	<tr><td valign="top">
		<div class="profile-ava"><img src="{{ url_for('userava') }}"></div>
		<div class="profile-load">
		<form action="{{url_for('upload')}}" method="POST" enctype="multipart/form-data">
			<p><input type="file" name="file">
			<p><input type="submit" value="Загрузить">
		</form>
		</div>
	</td>
	<td valign="top" class="profile-panel">
		<p><a href="{{url_for('logout')}}">Выйти из профиля</a>
		<ul class="profile-info">
		<li>ФИО: {{ current_user.getUsername() }}</li>
		<li>Email: {{ current_user.getEmail() }}</li>
		</ul>
	</td></tr>
</table>

<hr>

<h2>Список ваших животных:</h2>
<ul class="list-posts">
{% for p in posts %}
<li>
<table border="0" class="profile-table">
<tr><td valign="top">
<div class="profile-ava"><img src="{{ url_for('getPetAva', id_pet=p.id) }}"></div>
</td>
<td valign="top" class="profile-panel">
<p class="title"><a href="{{url_for('showPet',id_pet=p.id)}}">{{p.name}}</a></p>
<p class="annonce">Возраст: {{p.old}}</p>
<p class="annonce">Ищет дом: {{ p.home }}</p>
<p class="annonce"><a href="{{url_for('edit_pet',id_pet=p.id)}}"><button>Редактировать</button></a></p>
</td>
</p>
</li>
{% endfor %}
</ul>

{% endblock %}