 {% extends 'base.html' %}

{% block content %}
{{ super() }}
{% for cat, msg in get_flashed_messages(True) %}
<div class="flash {{cat}}">{{msg}}</div>
{% endfor %}
<table border="0" class="profile-table">
	<tr><td valign="top">
		<div class="profile-ava"><img src="{{ url_for('userava') }}"></div>
		<div class="profile-load">
		</div>
	</td>
	<td valign="top" class="profile-panel">
		<ul class="profile-info">
		<li>ФИО: {{ profile_info.username }}</li>
		<li>Email: {{ profile_info.email }}</li>
		</ul>
	</td></tr>
</table>

<hr>

<h2>Животные пользователя {{ profile_info.name }}:</h2>
<ul class="list-posts">
{% for p in posts %}
<li>
<table border="0" class="profile-table">
<tr><td valign="top">
<div class="profile-ava"><img src="{{ url_for('getPetAva', id_pet=p.id) }}"></div>
</td>
<td valign="top" class="profile-panel">
<p class="title"><a href="{{url_for('showPet',id_pet=p.id)}}">{{p.name}}</a></p>
<p class="annonce">Возраст: {{p.old}}</p>
<p class="annonce">Ищет дом: {{ p.home }}</p>
</td>
</p>
</li>
{% endfor %}
</ul>

{% endblock %}