 {% extends 'base.html' %}

{% block content %}
{{ super() }}

<ul class="list-posts" style="max-width: 1600px;">
{% for p in posts %}
<li>
<table border="0" class="profile-table">
<tr><td valign="top">
<div>
	<p class="annonce"><b>ID заявки: </b>{{p.id}}</p>
<p class="annonce"><b>ФИО: </b>{{p.name}}</p>
<p class="annonce"><b>E-Mail: </b>{{ p.email }}</p>
<p class="annonce"><b>ID пользователя: </b>{{ p.user_id }}</p>
<p class="annonce"><b>Дата и время заявки: </b>{{p.date}}</p>
<p><a href="{{url_for('resume_id',res_id=p.id)}}"><button style="width: 170px; height: 50px;">Ответить на заявку</button></a></p>
</div>
</td>
<td valign="top" class="profile-panel">
<p class=""><b>Обращение: </b>{{ p.msg }}</p>
<p class="annonce"><b>Ответ администратора:  </b>{{p.resume}}</p>
</td>
<hr>
</li>
{% endfor %}
</ul>
{% endblock %}